  .small-wrap{
    width: 1200px;
    margin:0 auto;
    position: relative;
  }

  .header{
    height: 135px;
    border-top: 3px solid #ff7c98;
    position: relative;
  }

  .logo{
    position: absolute;
    top: 21px;
    left: 50%;
    margin-left: -46px;
  }

  .util-sns{
    float:left;
    margin-top: 50px;
  }

  .util-sns-item{
    float: left;
    margin-right: 10px;
  }


  .util-sns-link{
    display: block;
  }

  .cs{
    position: absolute;
    top: 60px;
    right: 80px;
  }

  .cs:after{
    content:"";
    display: block;
    clear: both;
  }

  .cs-item{
    float: left;
    font-size: 11px;
    margin-left: 10px;
  }

  .btn-wrap{
    right: 0;
    top:39px;
    position: absolute;
  }

  .nav-wrap{
    position: relative;
  }



  .nav{
    border-top: 1px solid #e2d9d6;
    border-bottom: 1px solid #3f291a;
    height: 47px;
    position: relative;
    z-index: 10;

  }

  .nav-member{
    float: left;
    margin-top: 19px;
  }

  .nav-member-item{
    float: left;
  }

  .nav-member-link{
    display: block;
    text-indent:-99999em;
    background: url(../images/baskin/gnb_menu.png) no-repeat;
    height: 8px;
    width: 164px;
    margin-right: 5px;

  }

  .nav-member-link.login{
    background-position: 0 0;
    width: 35px;
    margin-right: 46px;

  }

  .nav-member-link.logout{
    background-position: 0 -46px;
    width: 47px;
    margin-right: 46px;
  }

  .nav-member-link.join{
    background-position: -97px 0;
    width: 27px;
  }

  .nav-member-link.mypage{
    background-position: -42px 0;
    width: 50px;

  }


  .gnb{
    float: right;
  }

  .gnb-depth1-item{
    float:left;
    text-align: center;
    margin-left: 70px;
    position:relative;

  }

  .gnb-depth1-item.flavor{
    width: 355px;


  }

  .gnb-depth1-item.menu{
    width: 112px;


  }

  .gnb-depth1-item.event{
    width: 84px;


  }

  .gnb-depth1-item.store{
    width: 56px;


  }

  .gnb-depth1-item.about{
    width: 86px;

  }


  .gnb-depth1-link{
    display: inline-block;
    text-indent: -99999em;
    background: url(../images/baskin/gnb_menu.png) no-repeat;
    padding: 17px 0;
  }

  .gnb-depth1-link.flavor{
    width:164px;
    background-position:-133px 17px;

  }

  .gnb-depth1-link.menu{
    width: 41px;
    background-position: -416px 17px;

  }

  .gnb-depth1-link.event{
    width:43px;
    background-position: -576px 17px;
  }


  .gnb-depth1-link.store{
    width: 42px;
    background-position: -737px 17px;
  }

  .gnb-depth1-link.about{
    width: 50px;
    background-position: -896px 17px;
  }

  .gnb-depth2{
    position: absolute;
    margin-top:42px;
    z-index: 10;
    display: none;

  }

  .gnb-depth2.img{
    margin-top: 2px;
  }

  .gnb-depth2-item{
    margin-bottom: 20px;

  }

  .gnb-depth2-link{
    display: block;
    font-size: 14px;

  }

  .gnb-bg{
    background: #fff;
    /*height: 274px;*/
    height: 0;
    position: absolute;
    width: 100%;
    top: 48px;
    left: 0;
    border-bottom:1px solid #3f291a;

  }

  .btn-search {
    width: 54px;
    height: 54px;
    background: url(../images/baskin/icon_search.png) no-repeat;
    text-indent: -99999em;
    border: 0;
    cursor: pointer;
  }

  .banner-top{
    display: block;
    text-indent: -99999em;
    height: 150px;
    background: #54bdec url(../images/baskin/img_flaovr_month_top.jpg) no-repeat 50% 0;
    margin-bottom: 3px;
  }

  .banner-bottom{
    display: block;
    text-indent: -99999em;
    height: 697px;
    background: #f0eb1b url(../images/baskin/img_main_banner_2.jpg) no-repeat 50% 0;
  }

  .br-event-heading{
    width: 87px;
    height: 14px;
    display: block;
    text-indent: -99999em;
    background: url(../images/baskin/h_event.png) no-repeat;
    margin: 100px auto 50px;
  }

  .event-list:after{
    content: "";
    display: block;
    clear: both;

  }

  .event-list-item{
    margin-right: 16px;
    float: left;

  }

  .event-list-item.last{
    margin-right: 0;
  }

  /* 가상 selector 쓰는 방법*/
  /*
    1.last-child

  .event-list-item:last-child{
    margin-right: 0;
  }

    2. first-child

  .event-list-item{
    float: left;
    margin-left: 16px;
  }

  .event-list-item:first-child{
    margin-left: 0;
  }

  */


  .event-list-item .event-item-module .event-item-title img{
    width: 288px;
  }

  .event-item-text{
    margin-top: 20px;
  }


  /* 가상 selector 쓰는 방법2 */

  /*
    3.nth-child



  */

  .event-item-text:nth-child(3){
    font-size: 17px;
    color:#000;
    width: 288px;
    line-height: 1.6;
    word-break:break-all;
    text-align: justify;
    height: 54px;
  }

  .event-item-text:nth-child(3) a{
    color:#000;
  }

  .ir-store-event{
    width: 114px;
    height: 22px;
    text-indent: -99999em;
    background: url(../images/baskin/stit_store.gif) no-repeat;
  }

  .ir-happy-event{
    width: 148px;
    height: 22px;
    text-indent: -99999em;
    background: url(../images/baskin/stit_happypoint.gif) no-repeat;
  }


  .menu-list{
    text-indent: -99999em;
    width: 1200px;
    height: 1065px;
    background: url(../images/baskin/img_menu_list.png) no-repeat;

  }


  .br-menu-heading{
    width: 87px;
    height: 14px;
    display: block;
    text-indent: -99999em;
    background: url(../images/baskin/h_menu.png) no-repeat 0 78px;
    padding: 78px 0 0;
    margin: 0 auto;

  }


  .br-menu{
    background: url(../images/baskin/bg_menu.jpg) no-repeat 50% 0;
    margin-top: 100px;
  }

  .br-store-heading{
    width: 87px;
    height: 14px;
    text-indent: -99999em;
    background: url(../images/baskin/h_store.png) no-repeat 0 95px;
    padding:95px 0 50px;
    margin: 0 auto;

  }


  .br-order-heading{
    width: 244px;
    height: 14px;
    text-indent: -99999em;
    background: url(../images/baskin/h_happyorder_delivery.png) no-repeat 0 95px;
    padding: 95px 0 50px;
    margin: 0 auto;

  }


  .br-store,
  .happy-order{
    width: 600px;
    float: left;

  }

  .br-store-link{
    display: block;
    width: 600px;
    height:260px;
    text-indent: -99999em;
    background: url(../images/baskin/img_store.jpg) no-repeat;


  }

  .br-order-link{
    display: block;
    width: 599px;
    height:260px ;
    text-indent: -99999em;
    background: url(../images/baskin/img_happyorder_delivery.jpg) no-repeat;
  }

  .snsbox-heading{
    width: 45px;
    height: 14px;
    text-indent: -99999em;
    background: url(../images/baskin/h_sns.png) no-repeat 0 95px;
    padding: 95px 0 50px;
    margin: 0 auto;

  }
















  .clearfix:after{
    content: "";
    display:block;
    clear: both;

  }
































































