  .wrap{
    width: 1060px;
    margin: 0 auto;
  }

  .header{
    position: relative;
    height: 90px;
    z-index: 900;

  }

  .logo{
    float: left;
  }

  .gnb{
    float: right;
    position: relative;
    top: 12px;
    right: -42px;;

  }

  .gnb-depth1{
    margin-top:8px;

  }

  .gnb-depth1-item{
    float: left;
    width: 180px;
    text-align: center;
    position: relative;
    padding:30px 0 30px;
    background:#f6f6e8 url(../images/gnbBg.png) no-repeat;
      }


  .gnb-depth1-item:nth-child(1){
    right:-68px;
    padding-bottom:64px;
  }

  .gnb-depth1-item:nth-child(2){
    right:-45px;
    padding-bottom: 433px;
  }

  .gnb-depth1-item:nth-child(3){
    right:-23px;
    padding-bottom: 433px;

  }

  .gnb-depth1-item:nth-child(4){
    padding-bottom: 124px;
  }


  .gnb-depth1-link{
    display: inline-block;
    height: 16px;
    text-align: center;
    text-indent: -99999em;
  }


  .gnb1{
    display: inline-block;
    height: 16px;
    width:98px;
    text-align: center;
    text-indent: -99999em;
    background: url(../images/menu1.png) no-repeat 0 0;

  }

  .gnb2{
    display: inline-block;
    height: 16px;
    width:98px;
    text-align: center;
    text-indent: -99999em;
    background: url(../images/menu2.png) no-repeat 0 0;
  }

  .gnb3{
    display: inline-block;
    height: 16px;
    width:98px;
    text-align: center;
    text-indent: -99999em;
    background: url(../images/menu3.png) no-repeat 0 0;
  }

  .gnb4{
    display: inline-block;
    height: 16px;
    width:98px;
    text-align: center;
    text-indent: -99999em;
    background: url(../images/menu4.png) no-repeat 0 0;
  }




  /*.gnb-depth1-item:nth-child(1) .gnb-depth1-link{*/
    /*width:94px;*/
    /*background-position: -200px 0;*/
  /*}*/

  /*.gnb-depth1-item:nth-child(2) .gnb-depth1-link{*/
    /*width:94px;*/
    /*background-position: -200px 0;*/
  /*}*/

  /*.gnb-depth1-item:nth-child(3) .gnb-depth1-link{*/
    /*width:94px;*/
    /*background-position: -200px 0;*/
  /*}*/

  /*.gnb-depth1-item:nth-child(4) .gnb-depth1-link{*/
    /*width:94px;*/
    /*background-position: -200px 0;*/
  /*}*/


  /*/!* �ӽ� *!/*/
  /*.gnb-depth2-item{*/
    /*display: none;*/
  /*}*/

  .gnb-depth2{
    text-align: center;
    position: absolute;
    padding: 23px 0 25px;
  }


  .gnb-depth2-item{
    text-align: center;
    width: 150px;
    padding:0 0 15px 0;

  }

  .gnb-depth2-link{
    color:#666;
  }


  /*.gnb-depth1-item:nth-child(1) .gnb-depth2,*/
  /*.gnb-depth1-item:nth-child(2) .gnb-depth2,*/
  /*.gnb-depth1-item:nth-child(3) .gnb-depth2,*/
  /*.gnb-depth1-item:nth-child(4) .gnb-depth2,*/
  /*.gnb-depth1-item:nth-child(5) .gnb-depth2,*/
  /*.gnb-depth1-item:nth-child(6) .gnb-depth2*/
  /*{*/
    /*display: none;*/
  /*}*/

  .gnb-depth2-link{
    display: block;
    line-height: 2.5em;
    font-size: 14px;
    letter-spacing: -0.5px;


  }

  .section{
    position: relative;
    width: 1060px;
  }



  .umb-bg{
    width: 1060px;
    height: 500px;
    display: block;
    text-indent: -9999em;
    background: url(../images/visual0.jpg) no-repeat 0 0;
    background-size:1060px 706px;
    top:0;

  }

  .cl-bg{
    width: 560px;
    height: 208px;
    display: block;
    text-indent: -9999em;
    background: url(../images/vis_txtbg.png) no-repeat 0 0;
    position: absolute;
    z-index: 100;
    top: 153px;
    left: 25%;
      }


  .safe{
    width: 411px;
    height: 44px;
    z-index: 100;
    position: absolute;
    background: url(../images/v0_txt1.png) no-repeat 0 0;
    top: 58px;
    left: 78px;

  }

  .cl-um{
    width: 560px;
    height: 36px;
    position: absolute;
    background: url(../images/v3_txt2.png)no-repeat 0 0;
    top: 120px;
  }

  .title{
    height: 62px;
    vertical-align: middle;
    width: 100%;
  }


  .left{
    float: left;
    display: block;
    text-indent: -9999em;
    width: 24px;
    height: 45px;
    background: url(../images/mRotateL_bt.png) no-repeat 0 0;
    margin-top: 13px;
  }

  .center{
    text-align: center;
  }

  .right{
    float: right;
    display: block;
    text-indent: -9999em;
    width: 24px;
    height: 45px;
    background: url(../images/mRotateR_bt.png) no-repeat 0 0;
    margin-top: 13px;
  }

  .md-title{
    height: 70px;
  }

  .m-title{
    text-align: center;
    position: absolute;
    left: 45%;
    top: 526px;
  }

  .s-left{
    display: inline-block;
  }

  .s-right{
    float: right;
    width: 730px;
  }

  .s-top{
    width: 730px;
  }

  .safe-with{
    margin-top:40px;
    margin-bottom: 50px;
  }
  
  .ss-left{
    float: left;
    width: 455px;
    height: 300px;
  }
  
  .ss-right{
    float: left;
    margin-left: 20px;

  }

  .photo{
    text-align: right;
  }


  .child{
    width: 460px;
    height: 280px;


  }


  .child-depth{
    margin: 0 5px 0 5px;
    display: inline;
    float: left;
  }

  .child-depth:first-child{
    margin-left:0
  }

  .child-depth:last-child{
    margin-right:0
  }

  .child-depth-img{
    margin-bottom:21px;

  }

  .yellow-bar{
    display: inline;
    text-indent: -9999em;
    width: 2px;
    height: 15px;
    background: url(../images/yellow1x15_bar.gif) no-repeat 0 0;
    float: left;
    margin-right: 5px;

  }

  .clear-umb{
    display: block;
    float: left;
  }






  .s-bottom{
    border-top: 2px solid #4b524c;
    width: 700px;
    margin-top: 20px;
  }

  .newsD{
    padding-top: 25px;
  }

  .news{
  }


  .news-depth{
    float: left;
    padding: 10px 0 0;
    letter-spacing: -1px;
    color: #333;
    width: 330px;
    height: 90px;

  }

  .black-top{
    background: url(../images/grayTop20x2_bar.gif) no-repeat 0 0;
    text-indent:-9999em;
    display: block;
    width: 20px;
    height: 2px;
    margin-bottom: 10px;

  }

  .news-t{
    font-size: 18px;
  }

  .new{
    display:inline-block;
    text-indent: -99999em;
    width:15px;
    height: 16px;
    background:url(../images/mNewsBu.gif) no-repeat 0 0;
  }

  .doc{
    display: block;
    text-indent: -9999em;
    width: 112px;;
    height: 18px;
    background: url(../images/mNews_tit.png) no-repeat 0 0;
  }

  .doc-c{
    margin-bottom: 10px;
  }

  .photo{
    float: right;
  }




  .um-p{
    position: absolute;
    text-indent: -9999em;
    width: 238px;
    height: 184px;
    display: block;
    left: 35px;
    background: url(../images/mBanSave_bg.jpg) no-repeat center 0;
  }

  .yellow-box{
    position: absolute;
    left: 0;
    float: left;

  }


  .yellow-review-wrap{
    background: #faf05e;
    padding: 35px 36px;
    width: 238px;
    height: 365px;
    float: left;

  }

  .yellow-review{
    background: #faf05e;
    float: left;

  }

  .text-t{
    float: left;
    margin-top: 200px;
    display: block;
    font-size: 18px;
    font-weight: bold;
  }

  .text-p{
    float: left;
    margin: 12px 0 0;
    font-size: 13px;
    color: #666;
    line-height: 18px;
  }

  .social-title{
    margin: 0 auto;
    width: 88px;
    height: 15px;
    text-indent: -99999em;
    background: url(../images/mCsr_tit.png) no-repeat 0 30px;
    display: block;
    padding: 30px;

  }


  .social{
    margin:0 auto;
    width: 946px;


  }

  .social-depth{
    float: left;
    margin-right: 30px;
  }

  .social-depth-link1{
    display: block;
    text-indent: -9999em;
    background: url(../images/mCsrIcon1.png) no-repeat 0 0;
    width: 190px;
    height: 255px;
  }

  .social-depth-link2{
    display: block;
    text-indent: -9999em;
    background: url(../images/mCsrIcon2.png) no-repeat 0 0;
    width: 190px;
    height: 255px;
  }

  .social-depth-link3{
    display: block;
    text-indent: -9999em;
    background: url(../images/mCsrIcon3.png) no-repeat 0 0;
    width: 190px;
    height: 255px;
  }

  .social-depth-link4{
    display: block;
    text-indent: -9999em;
    background: url(../images/mCsrIcon4.png) no-repeat 0 0;
    width: 190px;
    height: 255px;
  }

  .section4{
    width: 100%;
    background: #f7f7f7;
    height: 346px;
    margin: 0px auto;
  }

  .last-container{
    width: 1060px;
    margin: 60px auto;

  }

  .date-news{
    float: left;
    width: 260px;
    padding: 0 30px 0 0;
    margin: 0 49px 0 0;
    height: 202px;
    border-right: 1px solid #e7e7e7;
  }

  .hyundai{
    display: block;
    text-indent: -99999em;
    width: 234px;
    height: 33px;
    background:url(../images/mCsrIntroTx.gif) no-repeat 0 0;
    margin: 30px 0;
  }

  .intro{
    display: block;
    text-indent: -9999em;
    background: url(../images/mCsrIntroBanner.gif) no-repeat 0 0;
    width: 328px;
    height: 104px;
  }

  .date{
    margin:10px 0;
  }

  .txt{
    margin: 14px 0 0;
    color: #777;
    font-size: 13px;
    line-height: 22px;
    width: 330px;
    height: 90px;
  }

  .btn{
    float:right;

  }


  .notic{
    display: block;
    text-indent: -9999em;
    background: url(../images/mNoti_tit.gif) no-repeat 0 0;
    width: 72px;
    height: 20px;
  }

  .tilt-A{
    margin: 2px 0 12px;
    font-size: 15px;
    color: #444;
    line-height: 18px;
  }

  .tilt-date{
    width: 240px;
    color: #777;
    font-size: 13px;
    letter-spacing: 0;
  }

  .announce {
    float: left;
    width: 260px;
    padding: 0 30px 0 0;
    margin: 0 49px 0 0;
    height: 202px;
    border-right: 1px solid #e7e7e7;

  }

  .social-contribute{
    float: left;
    width: 330px;
    padding: 0 30px 0 0;
    margin: 0 50px 50px 0;
    border-right: 1px solid #e7e7e7;
  }

  .table-depth2{
    margin-top:20px;
  }

  .table-depth2-it{
    padding: 0 0 12px;
    margin: 0 0 12px;
    border-bottom: 1px dashed #e7e7e7;
  }

  .button{
    background: url(../images/rowRollL_bt.gif) no-repeat 0 0;
    width: 24px;
    height: 45px;
    display: block;
    text-indent: -9999em;
    top: 0;
    right: 73px;
  }

  .button-right{
    background: url(../images/rowRollR_bt.gif) no-repeat 0 0;
    width: 24px;
    height: 45px;
    display: block;
    text-indent: -9999em;
    top: 0;
    right: 48px;

  }

  .web-jin{
    float: left;
    width: 290px;
    min-height: 200px;
    padding: 0;
    overflow: hidden;
  }


  .web{
    background: url(../images/webzineImg_bg.gif) no-repeat 0 0;
    display: block;
    text-indent: -9999em;
    width: 148px;
    height: 200px;
    float: right;
  }

  .web>a{
    float: right;
  }

  .csr-ok{
    padding: 7px 0 0;
    border-top: 3px solid #e6e6e6;
    margin-top: 20px;
    width: 124px;
    height: 109px;
  }
  .csr-web{
    font-size: 15px;
    color: #777;
    line-height: 23px;
  }

  .close{
    margin-top:65px;
  }

  .left-d{
    float: left;
    width: 124px;
  }


  .footer{
   width: 100%;
   height: 130px;
   background: #323232;
   color:#fff;
   font-size:14px;
  }

  .footer1{
    position: relative;
    width: 1060px;
    margin: 0 auto;
    padding: 32px 0 0;
  }


  .footerD{
    height: 40px;
    width: 1060px;
  }


  .footer-item{
    float: left;
    z-index: 9999;
    margin: 20px 10px 0 ;
    color:#aeaeae;
    vertical-align: middle;
  }

  .copy{
    margin: 10px 10px 0;
    color: #aeaeae;

  }

  .button-move{
    display: inline-block;
    width: 53px;
    height: 33px;
    line-height: 31px;
    text-align: center;
    color: #fff;
    font-size: 13px;
    letter-spacing: 0;
    border: 1px solid #020202;
    background: #111111;
  }

  .option{
    float: right;
  }


  /*.option{*/
    /*display: inline-block;*/
    /*padding: 0 26px 0 12px;*/
    /*width: 152px;*/
    /*height: 35px;*/
    /*line-height: 35px;*/
    /*text-align: ;*/
    /*color: #fff;*/
    /*font-size: 13px;*/
    /*letter-spacing: 0;*/
    /*border: 1px solid #020202;*/
    /*background: url();*/
    /*float:left;*/
  /*}*/




























  .clearfix:after{
    display: block;
    content: "";
    clear: both;
  }

