  .wrap{
    width:980px;
    margin: 0 auto;
  }

  .header{
    height: 100px;
    background-color: pink;
     }

  .container{
    margin: 20px 0;
  }

  .container:after {
    content:"";
    display: block;
    clear: both;
  }

  .lnb{
    width:160px;
    height: 400px;
    background-color: palevioletred;
    float: left;
  }

  .contents_1{
    width:390px;
    height: 800px;
    margin-left:20px;
    background-color: lightgrey;
    float:left;
  }

  .contents_2{
    width:390px;
    height: 800px;
    margin-left:20px;
    background-color: bisque;
    float:left;
  }


  .footer{
    height: 100px;
    background-color: lightpink;
    clear: both;
  }
