.wrap{
  width: 990px;
  margin: 0 auto;
}

.header{
  height:100px ;
  background-color: darkolivegreen;
}

.container:after{
  content: "";
  display: block;
  clear: both;
}

.one{
  height: 500px;
  width: 990px;
  background-color: lemonchiffon;
}

.container_a{
  float: left;
  height: 300px;
}

.two{
  float: left;
  width: 330px;
  height: 300px;
  background-color: gold;
}
.three{
  float: left;
  width: 330px;
  height: 300px;
  background-color: chocolate;
}

.four{
  float: left;
  width: 330px;
  height: 300px;
  background-color: darkorange;
}

.footer{
  height: 100px;
  background-color: darkolivegreen;
}